<p id="notice"><%= notice %></p>

<h1>Listing Papers</h1>

<table>
  <thead>
    <tr>
      <th>Paper height</th>
      <th>Paper width</th>
      <th>Chain lines</th>
      <th>Format</th>
      <th>Name</th>
      <th>Result</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @papers.each do |paper| %>
      <tr>
        <td><%= paper.paper_height %></td>
        <td><%= paper.paper_width %></td>
        <td><%= paper.chain_lines %></td>
        <td><%= paper.format %></td>
        <td><%= paper.name %></td>
        <td><%= paper.result %></td>
        <td><%= link_to 'Show', paper %></td>
        <td><%= link_to 'Edit', edit_paper_path(paper) %></td>
        <td><%= link_to 'Destroy', paper, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Paper', new_paper_path %>
