<%= form_for(@manuscript) do |f| %>
  <% if @manuscript.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@manuscript.errors.count, "error") %> prohibited this manuscript from being saved:</h2>

      <ul>
      <% @manuscript.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :repository %><br>
    <%= f.text_field :repository %>
  </div>
  <div class="field">
    <%= f.label :call_number %><br>
    <%= f.text_field :call_number %>
  </div>
  <div class="field">
    <%= f.label :ms_format %><br>
    <%= f.text_field :ms_format %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
